---
import Layout from "../../../layouts/Layout.astro";

const { id } = Astro.params;
---

<Layout title={`${id} Ticker Infos | Dividend Tracker`}>
  <main>
    This is ticker {id}!
  </main>
</Layout>
