---
import type { APIContext } from "astro";
import { GET } from "../../api/alphavantage/sentiment-news/[ticker].ts";
import Layout from "../../../layouts/Layout.astro";
import type { ArticleNewsSentiment } from "../../../utils/api/alphavantage";
import ArticleSentimentNews from "../../../components/articles/ArticleSentimentNews.astro";
import PageNavigation from "../../../components/PageNavigation.astro";

const { ticker } = Astro.params;

const response = await GET(Astro as unknown as APIContext);

if (!response.body) {
  return Astro.redirect("/insights", 307);
}

const data = (await (response as Response).json()) as ArticleNewsSentiment[];
---

<Layout title={`${ticker} Ticker Infos | Dividend Tracker`}>
  <PageNavigation>
    <a href="/portfolios/1">Portofolio-Übersicht</a>
    <a href="/insights">Market Insights</a>
  </PageNavigation>
  <main>
    <h1>Insights für Ticker: {ticker}</h1>
    <section class="sentiment-news">
      <h2>Sentiment News</h2>
      <div class="inner">
        {data.map((article) => <ArticleSentimentNews article={article} />)}
      </div>
    </section>
  </main>
</Layout>

<style>
  .sentiment-news {
    & h2 {
      position: sticky;
      inset-block-start: 1.5rem;
      background-color: hsl(0, 0%, 7%);
      z-index: 1;
      padding-block-end: 0.5rem;

      @media only screen and (min-width: 1440px) {
        inset-block-start: 0;
      }
    }

    @media only screen and (min-width: 1440px) {
      block-size: 90vh;
      overflow: auto;
      scrollbar-gutter: stable;

      .inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
      }
    }
  }
</style>
