---
import type { APIContext } from "astro";
import { GET } from "../../api/alphavantage/sentiment-news/[ticker].ts";
import { GET as GETTICKER } from "../../api/alphavantage/overview/[ticker].ts";
import Layout from "../../../layouts/Layout.astro";
import type {
  ArticleNewsSentiment,
  OverviewTickerSchema,
} from "../../../utils/api/alphavantage";
import ArticleSentimentNews from "../../../components/articles/ArticleSentimentNews.astro";
import PageNavigation from "../../../components/PageNavigation.astro";
import OverviewTickerData from "../../../components/ticker/OverviewTickerData.astro";

const { ticker } = Astro.params;

const responseSentimentNews = (await GET(
  Astro as unknown as APIContext,
)) as Response;
const responseTickerOverview = (await GETTICKER(
  Astro as unknown as APIContext,
)) as Response;

if (
  responseSentimentNews.status === 500 ||
  responseTickerOverview.status === 500
) {
  return Astro.redirect("/insights", 307);
}

const dataSentimentNews = (await (
  responseSentimentNews as Response
).json()) as ArticleNewsSentiment[];
const dataTickerOverview = (await (
  responseTickerOverview as Response
).json()) as OverviewTickerSchema;
---

<Layout title={`${ticker} Ticker Infos | Dividend Tracker`}>
  <PageNavigation>
    <a href="/portfolios/1">Portofolio-Übersicht</a>
    <a href="/insights">Market Insights</a>
  </PageNavigation>
  <h1>Insights für {dataTickerOverview.Name}</h1>
  <main>
    <OverviewTickerData tickerData={dataTickerOverview} />
    <section class="sentiment-news">
      <h2>Sentiment News</h2>
      <div class="inner">
        {
          dataSentimentNews.map((article) => (
            <ArticleSentimentNews article={article} />
          ))
        }
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;

    & :global(h2) {
      position: sticky;
      inset-block-start: 1.5rem;
      background-color: hsl(0, 0%, 7%);
      z-index: 1;
      padding-block-end: 0.5rem;

      @media only screen and (min-width: 1440px) {
        inset-block-start: 0;
      }
    }
  }

  .sentiment-news {
    @media only screen and (min-width: 1440px) {
      .inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
      }
    }
  }
</style>
