---
import PageNavigation from "../../components/PageNavigation.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Marketet Insights | Dividend Tracker">
  <PageNavigation>
    <a href="/portfolios/1">Portofolio-Übersicht</a>
  </PageNavigation>
  <main>
    <h1>Market Insights</h1>
    <section>
      <h2>News</h2>
      <ul>
        <li>
          <a href="/insights/sentiment-news">Sentiment News</a>
        </li>
        <li>
          <a href="/insights/top-gainers-losers">Top Gainers / Losers</a>
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style>
  li {
    & a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
