---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Marketet Insights | Dividend Tracker">
  <header>
    <nav>
      <a href="/portfolios/1">Portofolio-Übersicht</a>
    </nav>
  </header>
  <main>
    <h1>Market Insights</h1>
  </main>
</Layout>
