---
import PageNavigation from "../../components/PageNavigation.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="News Sentiment | Dividend Tracker">
  <PageNavigation>
    <a href="/portfolios/1">Portofolio-Übersicht</a>
    <a href="/insights">Market Insights</a>
  </PageNavigation>

  <main>
    <h1>Sentiment News</h1>

    <section class="sentiment-positive">
      <h2>Positive</h2>
    </section>

    <section class="sentiment-negative">
      <h2>Negative</h2>
    </section>
  </main>
</Layout>
