---
import PageNavigation from "../../components/PageNavigation.astro";
import Layout from "../../layouts/Layout.astro";
import type { ArticleNewsSentiment } from "../../utils/api/alphavantage";
import ArticleSentimentNews from "../../components/articles/ArticleSentimentNews.astro";
import { GET } from "../api/alphavantage/sentiment-news";
import type { APIContext } from "astro";

const response = (await GET(Astro as unknown as APIContext)) as Response;

if (response.status === 500) {
  return Astro.redirect("/insights", 307);
}

const data = (await (response as Response).json()) as {
  articlesBullish: ArticleNewsSentiment[];
  articlesBearish: ArticleNewsSentiment[];
};
---

<Layout title="Sentiment News | Dividend Tracker">
  <PageNavigation>
    <a href="/portfolios/1">Portofolio-Übersicht</a>
    <a href="/insights">Market Insights</a>
  </PageNavigation>

  <main>
    <h1>Sentiment News</h1>
    <div class="grid">
      <section class="sentiment-positive">
        <h2>Positiv</h2>
        <div class="inner">
          {
            data.articlesBullish.map((article) => (
              <ArticleSentimentNews article={article} />
            ))
          }
        </div>
      </section>

      <hr />

      <section class="sentiment-negative">
        <h2>Negativ</h2>
        <div class="inner">
          {
            data.articlesBearish.map((article) => (
              <ArticleSentimentNews article={article} />
            ))
          }
        </div>
      </section>
    </div>
  </main>
</Layout>

<style>
  :global(.page-navigation) {
    position: sticky;
    inset-block-start: 0;
    background-color: hsl(0, 0%, 7%);
    z-index: 2;
  }

  .grid {
    @media only screen and (min-width: 1440px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }

  section {
    & h2 {
      position: sticky;
      inset-block-start: 1.5rem;
      background-color: hsl(0, 0%, 7%);
      z-index: 1;
      padding-block-end: 0.5rem;

      @media only screen and (min-width: 1440px) {
        inset-block-start: 0;
      }
    }

    @media only screen and (min-width: 1440px) {
      block-size: 90vh;
      overflow: auto;
      scrollbar-gutter: stable;

      .inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
      }
    }
  }

  hr {
    display: block;

    @media only screen and (min-width: 1440px) {
      display: none;
    }
  }
</style>
