---
import Layout from "../../layouts/Layout.astro";

const { userId } = Astro.params;

const { data } = (await (
  await fetch(`${import.meta.env.VITE_URL_BASE}/api/portfolios/${userId}`)
).json()) as { data: { id: number; name: string }[] };
---

<Layout title="Deine Portfolios">
  <header>
    <nav>
      <a href="/refresh">Daten aktualisieren</a>
    </nav>
  </header>
  <main>
    <h1>Deine Portfolios</h1>
    {data.map((p) => <a href={`/portfolio/${p.id}/detail`}>{p.name}</a>)}
  </main>
</Layout>
