---
import DataRefreshWrapper from "../../components/data-refresh/DataRefreshWrapper.vue";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Instrumente oder Dividenden aktualisieren | Dividend Tracker">
  <header>
    <nav>
      <a href="/portfolios/1">Portofolio-Übersicht</a>
    </nav>
  </header>
  <main>
    <h1>Instrumente oder Dividenden aktualisieren</h1>
    <DataRefreshWrapper client:load urlBase={import.meta.env.VITE_URL_BASE} />
  </main>
</Layout>
